<!-- Button trigger modal -->
<div class="btn btn-outline-primary btn-sm" data-bs-toggle="modal" data-bs-target="#{{ modal_name}}">
    {% if modal_name == "follow_modal" %}
        フォローを見る
    {% elif modal_name == "follower_modal" %}
        フォロワーを見る
    {% endif %}
</div>

<!-- Modal -->
<div class="modal fade" id="{{ modal_name}}" tabindex="-1" aria-labelledby="{{ modal_name}}ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                
            <h5 class="modal-title" id="{{ modal_name}}ModalLabel">
                {% if modal_name == "follow_modal" %}
                    フォロー
                {% elif modal_name == "follower_modal" %}
                    フォロワー
                {% endif %}
            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="list-group">
                    {% for follow in follows %}
                        {% if modal_name == "follow_modal" and follow.followed_by == page_user %}
                        <a href="{% url 'accounts' follow.followed_to.username %}" class="list-group-item list-group-item-action">
                            {{ follow.followed_to.nickname}}
                        </a>
                        {% elif modal_name == "follower_modal" and follow.followed_to == page_user %}
                        <a href="{% url 'accounts' follow.followed_by.username %}" class="list-group-item list-group-item-action">
                            {{ follow.followed_by.nickname}}
                        </a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>